* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, serif;
}

:root {
    --color-dark-green: #225643;
    --color-light-green: #79b259;
    --color-dark-brown: #74543d;
    --color-light-brown: #cd8a56;
    --color-light-grey: #f4f4f2;
    --color-darker-grey: #d4d4d2;
}

img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.content-wrap {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: linear-gradient(to top, var(--color-darker-grey) 0%, var(--color-light-grey) 100%);
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,0.59);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,0.59);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.59);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}


header .header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header .header-container .logo-container {
    max-width: 80px;
}
header .header-container .logo-container a {
    max-width: inherit;
}

header .header-container nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .header-container #main-navigation {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

header .header-container #main-navigation .nav-item {
    display: inline-flex;
}

header .header-container #main-navigation .nav-item a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px;
    transition: color 300ms;
}

header .header-container #main-navigation .nav-item a.current-page {
    color: var(--color-light-green);
}

header .header-container #main-navigation .nav-item a:hover {
    color: var(--color-light-green);
}

.cta-button {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: var(--color-dark-brown);
    border: 2px solid var(--color-dark-brown);
    border-radius: 10px;
    padding: 10px 25px;
    transition: 300ms cubic-bezier(0.79, 0.24, 0.23, 0.75);
    text-align: center;
}

.cta-button:hover {
    background-color: white;
    color: var(--color-dark-brown);
}

footer {
    position: fixed;
    bottom: -35px;
    left: -35px;
    background: var(--color-light-brown);
    height: 70px;
    width: 70px;
    transition: .5s;
    border-radius: 50px;
    cursor: pointer;
}

footer:hover {
    background: var(--color-light-green);
}

footer .footer-container {
    width: 400px;
    margin-top: 10px;
    transform: translateX(-400px);
    transition: .5s;
    cursor: pointer;
}

footer:hover .footer-container,
footer .footer-container:hover {
    width: 400px;
    margin-top: 10px;
    transform: translateX(50px);

}

footer .name-span {
    font-weight: 900;
}
