main input{
    margin: 10px;
}

main input:required{
    background-color: orangered;
}

main input:focus{
    background-color: lightblue;
}

main form{
    font-family: Calibri, serif;
    font-size: large;
    width: fit-content;
}